* {
	box-sizing: border-box;
}

/*styling the whole body*/
body{
	text-align: center;
	font-size: 18px;
	color:  #777777;
	background-image: url("../images/background.png");
	line-height: 32px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

/*all h1 tags will have this style*/
h1{
	color: #4aaaa5;
	line-height: 40px;
	font-size: 28px;
	font-weight: bold;
	font-family: 'Georgia', Times, "Times New Roman", serif;
}

/*specific ID for right-side sidebar h2*/
#h2{
	font-size: 20px;
	line-height: 28px;
}


/*paragraph style*/
p {
	text-align: left;	
	padding-bottom: 30px;
}
 
/*######################################################*/

/* mouse over  on navigation bar*/
nav a:hover:not(.active) {
    background-color: #4aaaa5;
}

/* showing active tab*/
.active {
    background-color: #4CAF50;
}

/*######################################################*/
/* styling "My Name's" aside*/
#header-aside{
	float: left;
	margin-top: 0px;
	margin-left: 197px;
	padding: 22px;
	height: 88px;
	color: #ffffff;
	background-color: #4aaaa5;
}


header{
	background-color: #ffffff;
	color:  #4aaaa5;
    border-bottom: solid #cccccc;
    border-bottom-width: 2px;
	height: 90px;
	margin: 0 0 40px 0;
}
/*specific id for header h1*/
#head-color{
	color: #fff;
}


/*######################################################*/

/*this is a unique container for navigation bar in the header*/
#box{
	float: right;
	margin-right: 165px;
	padding: 24px;
	color: #cccccc;	
}

nav a{
	text-align: center;
	color: gray;
	text-decoration: none;
	padding: 5px;
}


nav a:active{
	color: white;
	background-color: gray;
}

/*######################################################*/

/*main content header style*/
#content-header {
	height: 65px;
	border-bottom-width: 2.6px;
	text-align: left;
	margin-bottom: 20px;

}

/* styling main content area*/
main{
	width: 960px;
	margin: auto;

}

.main{
	float:left;
	border: solid #dddddd;
	background-color: #ffffff;
	border-width: 1px;
	width: 650px;
	padding: 30px 30px 0px 30px;
	margin-bottom: 40px;
	
}

/*image style of about me page*/
#img-box {
	height: 140px;
	width: 180px;
	float: left;
	margin: 10px 25px 0px 0px;
}
/*######################################################*/
/*right side-bar in main content*/
.logo {
	height: 60px;
	width: 60px;
	position: relative;

/*	margin-top: 25px;*/
}
.side-logos{
	
	float: left;
	margin-right: 15px;

}
#side-logo-right{
	float: right;
	
}
/*right side aside-bar*/
#right-side{
	float: left;
	margin-left: 40px;
	height: 200px;
	width: 270px;
	background-color: #ffffff;
	padding: 26px 30px 26px 30px;
	

}

#right-aside-header{
	height: 50px;
	margin-bottom: 20px;
	}

/*######################################################*/

/*mail content block starts here*/
form{
	margin-bottom: 40px;

}
.mail{
	text-align: left;
	width: 100%;
}


input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 10px;
    color: gray;
    box-sizing: border-box;
    border: solid #dddddd 1px;
}

input[type=text]:focus {
    background-color:  	#E6E6FA;
    color: black;

}

/*message text area*/
textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    border: solid #dddddd 1px;
}
/*when text area is focused, its background color will change*/
textarea:focus{
	background-color:  #E6E6FA;
	color: black;
}

/*submit bottun*/
input[type=submit]{
	background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin: 8px 2px;
    cursor: pointer;
    font-size: 20px;
}

/*mail contact block ends here*/

/*######################################################*/

/*portfolio page style*/

.main > div {
	float: left;
}

.portfolio-item-cntr {
	position: relative;
}

#portfolio-col-1 {
	margin: 20px 50px 20px 0;
	
}

#portfolio-col-2 {
	margin: 20px 0px 20px 0;
}


.img-portfolio{
	height: 180px;
	width: 269px;
	margin-bottom: 40px;
}

/*aside on the images in portfolio page*/
.aside-bar {
    background-color: #4aaaa5;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 10px;
    bottom: 58px;
    position: absolute;
   
}

/*######################################################*/

/*sticky footer*/
footer{
	clear: both;
	position: static;
	background-color: #666666;	
	bottom: 0px;
	left: 0px;
	height: 90px;
	width: 100%;
	border-top: solid #4aaaa5;
	border-top-width: 10px;
	padding: 26px;
	color: #D3D3D3;
	font-size: 12px;
	
	
}

@media screen and (max-width: 980px){
	body{
	
		font-size: 12px;
		line-height: 20px;
		/*width: 100%;*/
	}

	p {	
		padding-bottom: 10px;
	}

	#content-header {
		height: 50px;
		border-bottom-width: 2px;
		text-align: left;
		margin-bottom: 20px;
		font-size: 15px;

	}
	header{
		
		height: 55px;
		margin: 0 0 20px 0;
		font-size: 15px;

	}
	#header-aside{
		
		margin-left: 70px;
		padding: 10px;
		height: 53px;
		font-size: 12px;
	}

	h1{
		
		line-height: 20px;
		font-size: 20px;
		
	}

	/*specific ID for right-side sidebar h2*/
	#h2{
		font-size: 15px;
		line-height: 18px;
	}
	main{
		
		margin: auto;

	}
	.main {
		/*height: 500px;*/
		width: 30%;
/*		margin: 0 20px 20px;
*/   		
		
	}

	#img-box {
		height: 140px;
		width: 100%;
		margin: 0 auto;
	 }

/*######################################################*/
/*right side-bar in main content*/
.logo {
	height: 45px;
	width: 45px;
	position: relative;

/*	margin-top: 25px;*/
}
.side-logos{
	
	float: left;
	margin-right: 8px;

}
#side-logo-right{
	float: right;
	
}
/*right side aside-bar*/

#right-side{
	
	/*margin-left: 40px;*/
	height: 150px;
	width: 20%;
	padding: 20px;

}

#right-aside-header{
	height: 30px;
	margin-bottom: 20px;
	width: 100%;
	}

/*######################################################*/
/*navigation bar in the header*/
#box{
	/*float: right;*/
	margin-right: 60px;
	padding: 20px;
		
}

footer{
	position: static;
	bottom: 0;
	left: 0;
	height: 60px;
	padding:20px;
	border-top-width: 5px;
	font-size: 10px;
	
	
}
}



/*media query for 768px width window and less*/
@media screen and (max-width: 768px){
	body{
	
		font-size: 12px;
		line-height: 20px;
		/*width: 100%;*/
	}

	p {	
		padding-bottom: 10px;
	}

	#content-header {
		height: 50px;
		border-bottom-width: 2px;
		text-align: left;
		margin-bottom: 20px;
		font-size: 15px;

	}
	header{
		
		height: 55px;
		margin: 0 0 20px 0;
		font-size: 15px;

	}
	#header-aside{
		
		margin-left: 20px;
		padding: 10px;
		height: 53px;
		font-size: 12px;
	}

	h1{
		
		line-height: 20px;
		font-size: 20px;
		
	}

	/*specific ID for right-side sidebar h2*/
	#h2{
		font-size: 15px;
		line-height: 18px;
	}
	main{
		
		margin: auto;

	}
	.main {
		/*height: 500px;*/
		width: 100%;
		margin: 20px;
   		
		
	}

	#img-box {
		height: 140px;
		width: 50%;
		float:left;
	 }

/*######################################################*/
/*right side-bar in main content*/
.logo {
	height: 45px;
	width: 45px;
	position: relative;

/*	margin-top: 25px;*/
}
.side-logos{
	
	float: left;
	margin-right: 8px;

}
#side-logo-right{
	float: left;
	
}
/*right side aside-bar*/

#right-side{
	
	/*margin-left: 40px;*/
	height: 150px;
	width: 100%;
	padding: 20px;

}

#right-aside-header{
	height: 30px;
	margin-bottom: 20px;
	width: 100%;
	}

/*######################################################*/
/*navigation bar in the header*/
#box{
	/*float: right;*/
	margin-right: 60px;
	padding: 20px;
		
}

footer{
	position: static;
	bottom: 0;
	left: 0;
	height: 60px;
	padding:20px;
	border-top-width: 5px;
	font-size: 10px;
	
	
}
}